:root {
    --bs-primary:#083D77;
    --bs-primary-rgb:8,61,119;
    --secondary-:#EBEBD3;
    --secondary-rgb:235,235,211;
}   
.expedu_icon:hover{
    color:var(--bs-secondary);
}
a{
    color:var(--bs-primary);
}
.social-icon social-icon:hover{
    background-color: var(--bs-secondary);
}

body{
    font-family:'Noto Sans TC', sans-serif;
    text-transform:none;
    }
    
    h1,h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Sans TC', sans-serif;
    text-transform:none;
    }

